@{
	ViewBag.title = "About Us";
}

<h2>About Our Clinic</h2>
<p>Welcome to our health clinic. We provide high-quality medical services. And provide you an option to schedule your appointment and vaccination appointment online.</p>