@{
	ViewBag.title = "Contact Us";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Contact Us</h2>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Our Location</h5>
                    <p class="card-text">
                        <i class="fas fa-map-marker-alt"></i> 123 Medical Center Drive<br>
                        Suite 100<br>
                        Toronto, ON M1B 2K3
                    </p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Contact Information</h5>
                    <p class="card-text">
                        <i class="fas fa-phone"></i> Phone: (555) 123-4567<br>
                        <i class="fas fa-envelope"></i> Email: info@clinicappointment.com
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Business Hours</h5>
                    <p class="card-text">
                        Monday - Friday: 9:00 AM - 6:00 PM<br>
                        Saturday: 9:00 AM - 1:00 PM<br>
                        Sunday: Closed
                    </p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Emergency Contact</h5>
                    <p class="card-text">
                        For after-hours emergencies:<br>
                        <i class="fas fa-phone"></i> (555) 987-6543
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

