@model List<string>

<div id="TimeSlot">
    @if (Model != null && Model.Any())
    {
        foreach (var slot in Model)
        {
           
                <input type="radio" class="btn-check" name="TimeSlot" id="@slot" value="@slot" required>
                <label class="btn btn-outline-primary m-1" for="@slot">@slot</label>
            
        }
    }
    else
    {
        <p class="text-danger">No available slots</p>
    }
</div>